* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --body: #F5F6FA;
  --primary: #3a57e8;
  --primary-shade-80: #0c112e;
  --primary-shade-60: #17235d;
  --primary-shade-40: #23348b;
  --primary-shade-20: #2e46ba;
  --primary-tint-90: #ebeefd;
  --primary-tint-80: #d8ddfa;
  --primary-tint-60: #b0bcf6;
  --primary-tint-40: #899af1;
  --primary-tint-20: #6179ed;
  --info: #079aa2;
  --info-shade-80: #011f20;
  --info-shade-60: #033e41;
  --info-shade-40: #045c61;
  --info-shade-20: #067b82;
  --info-tint-90: #e6f5f6;
  --info-tint-80: #cdebec;
  --info-tint-60: #9cd7da;
  --info-tint-40: #6ac2c7;
  --info-tint-20: #39aeb5;
  --info-rgb: 7, 154, 162;
}

body {
  background-color: var(--body);
}

body::-webkit-scrollbar {
  width: 4px;
  background: #e3e3e3;
}

body::-webkit-scrollbar-thumb:vertical {
  background: var(--info);
  border-radius: 10px;
}

.main-sidebar {
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 0 4px 4px rgba(200, 200, 200, 0.2);
}

.sidebar-header {
  z-index: 1;
  padding: 14px;
  border-bottom: 0.1px solid #c3c3c3;
  text-align: center;
}

.sidebar-header h3 {
  font-weight: 400;
}

.sidebar-header a {
  color: #000;
  text-decoration: none;
}

.sidebar-body {
  height: 100%;
  padding-bottom: 60px;
}

.scroll-content {
  height: 100%;
  overflow-y: auto;
}

.scroll-content::-webkit-scrollbar {
  width: 4px;
  background: #e3e3e3;
}

.scroll-content::-webkit-scrollbar-thumb:vertical {
  background: var(--info);
  border-radius: 10px;
}

.sidebar-nav {
  list-style-type: none;
}

.sidebar-nav .nav-item {
  padding-left: 24px;
  margin-bottom: 5px;
}

#static-item {
  margin-top: 15px;
  padding-left: 0;
}

#static-item .nav-link {
  color: #000;
  width: 100%;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.sidebar-nav .nav-item .nav-link {
  color: #6c757d;
  position: relative;
  display: inline-block;
  width: 90%;
  padding: 12px 8px 12px 16px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.nav-item .nav-link :nth-child(1) {
  margin-right: 8px;
}

.sidebar-nav .nav-item .nav-link:hover {
  border-radius: 4px;
  color: var(--primary);
  background-color: var(--primary-tint-80);
}

.sidebar-nav .nav-item #active {
  box-shadow: 0 6px 6px rgba(134, 134, 134, 0.2);
  border-radius: 4px;
  color: #fff;
  background-color: var(--primary);
}

.wrapper {
  display: flex;
  margin-left: 250px;
  flex-direction: column;
  min-height: 100vh;
}

.main-navbar {
  top: 0;
  position: sticky;
  display: flex;
  gap: 20px;
  justify-content: end;
  background-color: #fff;
  padding: 7px 24px 7px 7px;
}

.profile {
  display: flex;
  gap: 10px;
}

.profile .profile-icon {
  color: #2571e1;
  font-size: 36px;
}

.profile .profile-name {
  padding-top: 8px;
}

.main-header {
  height: 200px;
}

.header-img {
  color: #fff;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 20px 20px;
  background-image: url('../img/top-header.png');
  padding: 50px;
}

.header-img h1 {
  font-weight: 400;
}

.main-content {
  margin-top: -35px;
  padding: 0 40px 0 40px;
  margin-bottom: 25px;
}

.content-header {
  padding: 15px 30px;
  display: flex;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 25px;
  box-shadow: 0 4px 4px 0 rgba(143, 143, 143, 0.2);
}

.content-header h2 {
  font-weight: 300;
}

.content-header :nth-child(1) {
  flex: 1;
}

.breadcrumb {
  padding: 6px;
  list-style: none;
  font-size: 14px;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li+li:before {
  padding: 6px;
  content: "/\00a0";
}

.breadcrumb li a {
  color: var(--primary);
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.container-fluid {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}

.card {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px 4px rgba(169, 169, 169, 0.2);
}

.card-zakat {
  flex-grow: 1;
}

.card-header {
  padding: 15px 30px;
  border-bottom: 0.1px solid #d3d3d3;
  border-radius: 8px 8px 0 0;
}

.card-title {
  font-weight: 300;
}

.card-body {
  width: 100%;
  padding: 30px;
}

.button-place {
  text-align: right;
  padding: 15px 0 20px 0;
}

.row {
  display: flex;
  gap: 20px
}


.form-row {
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group {
  gap: 12px;
  display: flex;
  flex-direction: column;
  color: var(--info-shade-20);
}

.form-control {
  width: 100%;
  padding: 10px;
  display: block;
  color: #8a92a6;
  line-height: 1.6;
  border-radius: 4px;
  border: 1px solid var(--info);
}

.form-control:focus{
  outline: 0;
  border: 1px solid var(--primary);
  box-shadow: 0 0 4px 0 var(--primary-tint-60);
}

.col-icon {
  color: var(--primary);
  font-size: 48px;
}

.col-detail p {
  color: var(--info);
  margin-bottom: 10px;
}

.col-detail h2 {
  font-weight: 400;
}

.main-footer {
  margin-top: auto;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.main-footer span {
  color: var(--info-shade-20);
}

.main-footer a {
  color: var(--primary-tint-40);
  text-decoration: none;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
  line-height: 1;
  padding: 10px 12px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin-right: 5px;
}

.btn-href {
  font-size: 12px;
}

.btn-danger {
  background-color: #c14031;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    box-shadow: 0 0 40px 40px #a32b1c inset;
  }
}

.btn-primary {
  background-color: #3a57e8;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    box-shadow: 0 0 40px 40px #314ac5 inset;
  }
}

.btn-success {
  background-color: #1aa053;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    box-shadow: 0 0 40px 40px #168847 inset;
  }
}

.btn-default {
  color: var(--primary-tint-20);
  border: var(--primary-tint-20) 1.5px solid;
  background-color: #fff;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    color: #fff;
    box-shadow: 0 0 40px 40px var(--primary-tint-20) inset;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  height: 100vh;
}

#card-login {
  width: 65vh;
}

#card-login .card-title {
  text-align: center;
}

.button-login-place {
  text-align: right;
}

#btn-login {
  padding: 10px 30px;
}

.jenis-bayar {
  display: none;
}

#Tunai input {
  text-align: right;
}